<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Flask template2</title>
    <link
      href="{{url_for('static', filename = 'css/common.css')}}"
      rel="stylesheet"
    />
    <script src="{{url_for('static', filename = 'js/common.js')}}"></script>
  </head>
  <body>
    {% if name %}
    <h2>Hello {{ name }}.</h2>
    {% else %}
    <h2>Hello.</h2>
    {% endif %}
    <button onclick="btnCall()">Button</button>
  </body>
</html>
